<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmailHandler.EmailSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EmailHandler.EmailSettings>
            <setting name="SmtpServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="From" serializeAs="String">
                <value>phpitladiplomado@gmail.com</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="Paswword" serializeAs="String">
                <value>#Querty123</value>
            </setting>
        </EmailHandler.EmailSettings>
    </applicationSettings>
</configuration>